<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-secondary text-muted">
    <!-- Section: Links  -->
    <section>
    <div class="container text-left text-md-start pt-4 text-white">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="fw-bold mb-4">
            <a class="navbar-brand" style="color: black; font-size: 35px;">EC<b style="color: #2fc34f; font-size: 35px;">Gen</b></a> 
            </h6>
            <p class="text-justify">
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Tools
            </h6>
            <p>
            <a href="#" class="text-reset">Cover Letter Auto Builder</a>
            </p>
            <p>
            <a href="#" class="text-reset">CV Auto Builder</a>
            </p>
            <p>
            <a href="#" class="text-reset">Resume Auto Builder</a>
            </p>
            <p>
            <a href="#" class="text-reset">Job Application Bot</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Useful links
            </h6>
            <p>
            <a href="{% url 'price' %}" class="text-reset">Price</a>
            </p>
            <p>
            <a href="{% url 'blog' %}" class="text-reset">Blog</a>
            </p>
            <!-- <p>
            <a href="" class="text-reset">Help</a>
            </p> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>Hong Kong, XXXXX, HK</p>
            <p>info@example.com</p>
            <p>+ 852 1234 5678</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links End-->
    <!-- Section: Social media -->
    <section class="pb-4 text-white">
        <div>
            <a href="" class="me-4 link-secondary">
            <i class="bi bi-facebook" style="font-size: 2rem; color: white; padding: 10px;"></i>
            </a>
            <a href="" class="me-4 link-secondary">
            <i class="bi bi-twitter" style="font-size: 2rem; color: white; padding: 10px;"></i>
            </a>
            <a href="" class="me-4 link-secondary">
            <i class="bi bi-google" style="font-size: 2rem; color: white; padding: 10px;"></i>
            </a>
            <a href="" class="me-4 link-secondary">
            <i class="bi bi-instagram" style="font-size: 2rem; color: white; padding: 10px;"></i>
            </a>
            <a href="" class="me-4 link-secondary">
            <i class="bi bi-linkedin" style="font-size: 2rem; color: white; padding: 10px;"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media End-->
    <!-- Copyright -->
    <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ECGen.com</a>
    </div>
    <!-- Copyright End-->
</footer>
<!-- Footer -->
