{% extends 'base.html' %}

{% block content %}
<head>
  <style>
  .bg-grey {
    background-color: #f6f6f6;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  </style>
</head>
<body>

<!-- Container (About Section) -->

<div class="container-fluid">
  <h2>Our Company</h2>   
  <p>Welcome to EC Gen, your one-stop-shop for creating professional cover letters in minutes. Our innovative auto cover letter generator is designed to help job seekers of all levels create high-quality, customized cover letters that impress hiring managers and increase your chances of getting the job you want.</p>
</div>

<div class="container-fluid bg-grey">
  <h2>Our Mission</h2>   
  <p>At EC Gen, our mission is simple: to empower job seekers with the tools they need to succeed in the job market. We understand that job searching can be a daunting process, and we're here to help. Our user-friendly platform is designed to help job seekers create personalized cover letters that highlight their skills, experience, and unique qualifications.</p>
</div>

<div class="container-fluid">
  <h2>About Company Page</h2>   
  <p>Lorem ipsum..</p>
</div>

<div class="container-fluid bg-grey">
  <h2>Our Team</h2>     
  <p>Our team of experienced professionals is dedicated to helping job seekers succeed. We're passionate about what we do, and we take pride in providing our customers with the highest quality tools and services. Our team includes experts in the fields of HR, recruitment, and technology, all of whom are committed to delivering the best possible experience for our customers.</p>
</div>

<div class="container-fluid">
  <h2>Our Technology</h2>   
  <p>Our auto cover letter generator is powered by the latest technology, designed to streamline the cover letter creation process and produce professional, high-quality results. Our platform includes customizable templates that are tailored to a wide range of industries and job positions. With just a few clicks, you can create a cover letter that's customized to your unique skills and experience.</p>
</div>

<div class="container-fluid bg-grey">
  <h2>Our Promise</h2>  
  <p>At EC Gen, we're committed to providing our customers with the best possible experience. We believe that everyone deserves a chance to succeed in their career, and we're here to help make that happen. Our auto cover letter generator is just one of the many tools we offer to help job seekers achieve their goals. We promise to always provide top-notch customer service, easy-to-use tools, and a commitment to your success.</p>
</div>

<div class="container-fluid">
  <h2>Get Started Today</h2>   
  <p>Ready to take your job search to the next level? Sign up for EC Gen today and start creating professional, customized cover letters in minutes. With our innovative platform, you'll be able to stand out from the competition and land your dream job in no time.</p>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-success btn-lg justify-content-center">Get Started</button>
</div>
<br>
<br>

</body> 
{% endblock %}