{% extends 'base.html' %}

{% block content %}
<!-- Price -->
<div id="generic_price_table">   
  <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <!--PRICE HEADING START-->
                      <div class="price-heading clearfix">
                          <h1>Cover Letter Auto Builder</h1>
                      </div>
                      <!--//PRICE HEADING END-->
                  </div>
              </div>
          </div>
          <div class="container">
              
              <!--BLOCK ROW START-->
              <div class="row">
                  <div class="col-md-4">
                  
                      <!--PRICE CONTENT START-->
                      <div class="generic_content clearfix" style="border-radius: 20px;">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                  <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Free</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">	
                                  <span class="price">
                                      <span class="sign">$</span>
                                      <span class="currency">0</span>
                                      <span class="cent"></span>
                                      <span class="month">/1 Time</span>
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                              <ul>
                                  <li><span>0GB</span> Storage</li>
                                  <li><span>1</span> Template</li>
                                  <li><span>24/7</span> Support</li>
                              </ul>
                          </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                              <a class="" href="{% url 'register' %}">Sign up</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
                  
                  <div class="col-md-4">
                  
                      <!--PRICE CONTENT START-->
                      <div class="generic_content active clearfix" style="border-radius: 20px;">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                  <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Standard</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">	
                                  <span class="price">
                                      <span class="sign">$</span>
                                      <span class="currency">14</span>
                                      <span class="cent">.99</span>
                                      <span class="month">/14 DAYS</span>
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                              <ul>
                                  <li><span>10GB</span> Storage</li>
                                  <li><span>Unlimited</span> Template</li>
                                  <li><span>24/7</span> Support</li>
                              </ul>
                          </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                              <a class="" href="{% url 'register' %}">Sign up</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
                  <div class="col-md-4">
                  
                      <!--PRICE CONTENT START-->
                      <div class="generic_content clearfix" style="border-radius: 20px;">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                  <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Unlimited</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">	
                                  <span class="price">
                                      <span class="sign">$</span>
                                      <span class="currency">24</span>
                                      <span class="cent">.99</span>
                                      <span class="month">/MONTH</span>
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                              <ul>
                                  <li><span>10GB</span> Storage</li>
                                  <li><span>Unlimited</span> Template</li>
                                  <li><span>24/7</span> Support</li>
                              </ul>
                          </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                              <a class="" href="{% url 'register' %}">Sign up</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
              </div>
              <!--//BLOCK ROW END-->
              
          </div>
      </section>             
  </div>
<!-- Price End -->

{% endblock %}